<template>
    <div class="uk-container uk-container-expand uk-margin-remove uk-padding-remove" style="color: white">
        <div class="uk-light">
            <div>
                <nav class="uk-navbar pz-main-navbar pz-navbar-60 uk-navbar-container" uk-navbar="">
                    <div class="uk-navbar-left">
                        <logo-button />
                     </div>
                </nav>
            </div>
        </div>

        <div class="uk-padding">
            <h2 style="color: white">1.51 (07-Aug-2018 #69f1864)</h2>

            <strong>Fixed:</strong>
            <ul>
                <li>
                    Background music in loop in operator audio-out
                </li>
                <li>Music can be started and stopped without active session</li>
                <li>Hint is restored after alarm sound</li>
                <li>Auto reconnect on client network fail</li>
                <li>Hint already in alarm channel</li>
                <li>In last 30 seconds can be play music and effects</li>
            </ul>
        </div>

    </div>
</template>

<script>
import LogoButton from '@/components/operator/LogoButton';

export default {
    components: {
        LogoButton
    }
}
</script>

<style>

</style>
