<script>
import socket from '@/helpers/socket';
import ContentMixin from '@/mixins/ContentMixin';
import moment from 'moment';
import axios from '@/helpers/axios';
import ClientMixin from '@/mixins/ClientMixin';
import CONFIG from '@/helpers/config';

require('uikit/dist/css/uikit.min.css');

export default {
    name: 'client',
    template: '<h1>Loading ...</h1>',
    mixins: [ContentMixin, ClientMixin],
    props: {
        clientIp: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            connecting_template: `
                <div style="background-color: #777; color: white; width: 100%; height: 100%; padding: 25px;"
                    v-on:dblclick="toggleFullscreen">
                    <h1>Client cannot connect to server.</h1>
                    <h2>Client IP: {{clientIp}}</h2>
                </div>
            `,
            not_authenticated_template: `
                <div style="background-color: #fc0; color: white; width: 100%; height: 100%; padding: 25px;"
                    v-on:dblclick="toggleFullscreen">
                    <h1>Server cannot authenticate this client.</h1>
                    <h2>Client IP: {{clientIp}}</h2>
                </div>
            `,
            filesPath: this.$store.state.config.server_host + '/files/',
            roomObj: {}
        };
    },
    computed: {
        $config() {
            return this.$store.state.config;
        },
        style_path() {
            var path = this.filesPath;
            path += this.roomObj.name + '/template/resources/style.css';
            return path;
        },
        hint_bg() {
            var path = this.filesPath;
            path += this.roomObj.name + '/template/resources/hintbg.png';
            return path;
        },
        main_state_stopped() {
            return this.finate.state == 'stopped';
        },
        main_state_started() {
            return this.finate.state == 'started';
        },
        substate() {
            return this.finate.sub_state;
        },
        // template formated values
        room_description() {
            return this.roomObj.name;
        },
        help_seconds_formated() {
            return this.format_time(this.state.help_seconds);
        },
        game_seconds_formated() {
            return this.format_time(this.state.game_seconds)
        },
        escaped_seconds_formated() {
            return this.format_time(this.state.escape_time)
        },
        version() {
            return CONFIG.version;
        }
    },
    mounted() {
        var self = this;

        let data = {
            type: 'client',
            pass: 123
        };

        if (this.operator) {
            data.presence_hidden = true;
        }
        if (this.operatorIp) {
            data.operator_ip = this.operatorIp;
        }

        if (this.clientIp) {
            data.operator_ip = this.clientIp;
        }

        this.htmlRenderHelper(this.connecting_template);

        const channel = socket(data);

        channel.on('authenticated', function(obj) {
            function prepare(room) {
                self.roomObj = room;
                self.content = self.filesPath + room.name + '/template/index.html';

                if (room.audio_out == 'CLIENT' + obj.slot) {
                    self.audio_out = true;

                    for (var audio_channel = 1; audio_channel <= self.channels; audio_channel++) {
                        self.eventSetVolumeAudio({
                            channel: audio_channel,
                            volume: self.roomObj.session ? self.roomObj.session.channel_volumes[audio_channel - 1] : 1
                        });
                    }
                }

                self.renderHelperFunction();
                self.initialize_state(room);
            }

            axios.get('/data/room/' + obj.roomId)
                .then(function(response) {
                    let room = response.data;
                    prepare(room);
                });
        });

        channel.on('not-authenticated', function (data) {
            self.htmlRenderHelper(self.not_authenticated_template);
        });

        this.registerClientEvents(channel);
    },
    methods: {
        isFullscreen(){
            return 1 >= window.outerHeight - window.innerHeight;
        },
        requestHelp() {
            var self = this;
            // operators cannot request help
            if (self.operator || self.state.game_seconds <= 0 || !this.isFullscreen()) {
                return;
            }

            if (self.state.help_indicator && !self.state.help_requested && self.finate.sub_state != 'paused') {
                axios.post('/event/operator/' + self.roomObj.id, {
                    command: 'help_requested',
                    data: {}
                }).then(() => {
                    self.eventPlayAudio({
                        asset: 'sound',
                        file: 'hint_request.mp3',
                        channel: 2
                    });
                });
            } else {
                self.eventPlayAudio({
                        asset: 'sound',
                        file: 'hint_denied.mp3',
                        channel: 2
                    });
            }
        },
        toggleFullscreen(event) {
            var element = document.body;

            if (event instanceof HTMLElement) {
                element = event;
            }

            var isFullscreen = document.webkitIsFullScreen || document.mozFullScreen || false;

            element.requestFullScreen = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || function () { return false; };
            document.cancelFullScreen = document.cancelFullScreen || document.webkitCancelFullScreen || document.mozCancelFullScreen || function () { return false; };

            isFullscreen ? document.cancelFullScreen() : element.requestFullScreen();
        }
    }
}
</script>

<style>
</style>
