<template>
    <div class="uk-container uk-section" style="color: white;">

        <fieldset class="uk-fieldset">
            <legend class="uk-legend uk-margin">Login</legend>

            <label for="username">Username: </label>
            <input id="username" class="uk-input uk-margin-bottom" type="text" name="username" v-model="username" placeholder="username">

            <label for="password">Password: </label>
            <input id="password" class="uk-input uk-margin-bottom" type="password" name="password" v-model="password" placeholder="password">

            <button class="uk-button uk-button-primary" @click="login" >Login</button>
        </fieldset>
    </div>
</template>

<script>
import axios from '@/helpers/axios';
import utilities from '@/helpers/utilities';

export default {
    data() {
        return {
            username: '',
            password: ''
        };
    },
    methods: {
        login() {
            let self = this;
            axios.post('/login', {
                username: this.username,
                password: this.password
            }).then((response) => {
                let token = response.data.token;
                localStorage.setItem('token', token);
                axios.defaults.headers.common['Authorization'] = token;
                self.$router.push({path: '/'});
            }).catch((err) => {
                utilities.errorModal('Could not authenticate', err.response.data.message );
            });
        }
    }
}
</script>

<style>

</style>
