<template lang="html">
    <div id="app">
        <router-view v-if="loaded" v-bind:key="$route.fullPath"/>
    </div>
</template>

<script>
import axios from '@/helpers/axios';
import socket from '@/helpers/socket';
import utilities from '@/helpers/utilities';
import { mapState, mapMutations } from 'vuex'

require('uikit/dist/css/uikit.min.css');
require('@/assets/style2.css')

export default {
    name: 'operator-page',
    data() {
        return {
            refresh_flag: false
        };
    },
    computed: {
        ...mapState(['loaded']),
        $config() {
            return this.$store.state.config;
        }
    },
    methods: {
        ...mapMutations(['setConnectionStatus', 'setRooms', 'disconnectAll', 'updateConnectionStatus', 'updateRoomSession', 'clearRoomSession']),
        /**
         * connect handler
         */
        eventConnect() {
            let self = this;

            self.setConnectionStatus(true);

            if (self.refresh_flag) {
                axios.get('/data').then(function(response) {
                    self.setRooms(response.data);
                }).catch(function(err) {
                    utilities.errorModal('Error while refreshing room clients connection status!')
                });
            }
            self.refresh_flag = false;
        },
        /**
         * connect_error handler
         */
        eventError() {
            this.refresh_flag = true;
            this.disconnectAll();
            this.setConnectionStatus(false);
        },
        /**
         * client-connect handler
         */
        eventClientConnect(payload) {
            let tmp = payload.split(':');
            let room_id = tmp[0];
            let slot = tmp[1];
            this.updateConnectionStatus({
                room_id,
                slot,
                status: true
            });
        },
        /**
         * client-disconnect handler
         */
        eventClientDisconnect(payload) {
            let tmp = payload.split(':');
            let room_id = tmp[0];
            let slot = tmp[1];
            this.updateConnectionStatus({
                room_id,
                slot,
                status: false
            });
        },
        /**
         * session-start handler
         */
        eventSessionStart(payload) {
            let room_id = payload.room_id;
            let session = payload.session;

            this.updateRoomSession({
                room_id,
                session
            });
        },
        /**
         * session-stop handler
         */
        eventSessionStop(payload) {
            let room_id = payload.room_id;
            let session = payload.session;

            this.updateRoomSession({
                room_id,
                session
            });
        },
        /**
         * session-clear handler
         */
        eventSessionClear(payload) {
            this.clearRoomSession(payload);
        },
        /**
         * session-paused handler
         */
        eventSessionPause(payload) {
            let room_id = payload.room_id;
            let session = payload.session;

            this.updateRoomSession({
                room_id,
                session
            });
        },
        /**
         * session-unpaused handler
         */
        eventSessionUnpause(payload) {
            let room_id = payload.room_id;
            let session = payload.session;

            this.updateRoomSession({
                room_id,
                session
            });
        }
    },
    mounted() {
        let self = this;

        // LOGIN HANDLER UNCOMMENT if you want authentication
        // let token = localStorage.getItem('token');
        // if (token === null) {
        //     this.$router.push({ path: '/login'});
        // } else {
        //     axios.defaults.headers.common['Authorization'] = token;
        //     axios.get('/user-info').then((response) => {
        //         // TODO store user info in store
        //     }).catch((err) => {
        //         localStorage.removeItem('token');
        //         self.$router.push({ path: '/login'});
        //     })
        // }

        let channel = socket({
            type: 'oper',
            username: 'operator-' + 0
        });

        channel.on('connect', this.eventConnect);
        channel.on('connect_error', this.eventError);
        channel.on('client-connect', this.eventClientConnect);
        channel.on('client-disconnect', this.eventClientDisconnect);
        channel.on('session-start', this.eventSessionStart);
        channel.on('session-stop', this.eventSessionStop);
        channel.on('session-paused', this.eventSessionPause);
        channel.on('session-unpaused', this.eventSessionUnpause);
        channel.on('session-clear', this.eventSessionClear);

        axios.get('/data').then(function (response) {
            self.$store.commit('setRooms', response.data);
            self.$store.commit('load');
        }).catch(function (err) {
            // TODO display error
        });
    }
}
</script>
