<template>
    <div class="uk-navbar-item uk-padding-remove-right pz-bg-red">
        <a>
            <i class="icon-mgm-mindtrapicon pz-padding-top-5 pz-padding-right-5 fs-42"></i>
        </a>

        <div class="uk-width-medium uk-light" uk-dropdown="mode: click">
            <span>Version {{ version }}</span> <span class="fs-10 uk-clearfix">({{ build_date }})</span>
            <a href="/#/changelog" target="_blank" class="fs-10">Changelog</a>
            <br>
            <span class="fs-10 uk-clearfix">Developed by Prozero Software Ltd</span>
            <span class="fs-10">Copyright© Mindtrap - Intelligent Entertainment</span>
            <button @click="logout" class="uk-button uk-button-default uk-button-small uk-margin-top">Logout</button>

        </div>


    </div>
</template>


<script>
import axios from '@/helpers/axios';
import utilities from '@/helpers/utilities';
import CONFIG from '@/helpers/config';

export default {
    name: 'logo-button',
    computed: {
        version() {
            return CONFIG.version;
        },
        build_date() {
            return CONFIG.date;
        }
    },
    methods: {
        logout() {
            let self = this;
            axios.post('/logout').then(() => {
                localStorage.removeItem('token');
                self.$router.push({ path: '/login'});
            }).catch((err) => {
                utilities.errorModal('Could not logout', err.response.data.message );
            });
        }
    }
}
</script>

<style>

</style>
