<template>
    <div :id="dom_id" class="uk-container uk-container-expand uk-margin-remove uk-padding-remove">
        <nav-bar @dismiss-help="operator_state.help_indicator = false" />
        <walkthrough-list :room-id="roomObj.id" :session="roomObj.session" :data="roomObj.walkthroughs" v-model="operator_state.reference" />
        <client-area :room="roomObj" />
        <sound-panel :data="soundFiles" @play-sound="playSoundEffect" />
        <music-panel :data="musicFiles" @play-music="playMusic" @stop-music="stopAudio(1)" :playing="state.audio_players[0].playing" />
        <history-grid :room-id="roomObj.id" :data="history_log" :path="assetPathHelper('images', '')" />
        <image-panel />
        <hint-area />
    </div>
</template>

<script>
import UIkit from 'uikit';

import NavBar from '@/components/operator/client/NavBar.vue';
import WalkthroughList from '@/components/operator/client/WalkthroughList.vue';
import HistoryGrid from '@/components/operator/client/HistoryGrid.vue';
import SoundPanel from '@/components/operator/client/SoundPanel.vue';
import MusicPanel from '@/components/operator/client/MusicPanel.vue';
import ImagePanel from '@/components/operator/client/ImagePanel.vue';
import HintArea from '@/components/operator/client/HintArea.vue';
import ClientArea from '@/components/operator/client/ClientArea.vue';

import ClientMixin from '@/mixins/ClientMixin';
import socket from '@/helpers/socket';
import utilities from '@/helpers/utilities';
import _ from 'lodash';
import moment from 'moment';
import axios from '@/helpers/axios';
import { mapState } from 'vuex';

export default {
    name: 'operator-client',
    mixins: [ClientMixin],
    components: {
        NavBar,
        WalkthroughList,
        HistoryGrid,
        SoundPanel,
        MusicPanel,
        ImagePanel,
        HintArea,
        ClientArea
    },
    data() {
        return {
            history_log: [],
            // audio channel used to preview songs
            audio_channel: {
                player: new Audio(),
                playing: false
            },
            operator_state: {
                help_indicator: false,
                hint_text: '',
                hint_text_temp: '',
                hint_image: false,
                extra_minutes: 5,
                reference: ''
            }
        };
    },
    computed: {
        ...mapState(['connection_status']),
        dom_id() {
            return 'panel-' + this.$route.params.room_id;
        },
        roomObj() {
            return this.$store.state.rooms[this.$route.params.room_id];
        },
        currentState() {
            if (this.roomObj.session) {
                return this.roomObj.session.state;
            } else {
                return 'EMPTY';
            }
        },
        soundFiles() {
            let files = [];
            let assets = this.filterAssets(this.roomObj.assets.sound);

            for (var i = 0; i < assets.length; i++) {
                files.push({
                    id: assets[i],
                    text: assets[i].replace(/\.[^/.]+$/, ""),
                });
            }

            return files;
        },
        musicFiles() {
            let files = [];
            let assets = this.filterAssets(this.roomObj.assets.music);

            for (var i = 0; i < assets.length; i++) {
                files.push({
                    id: assets[i],
                    text: assets[i].replace(/\.[^/.]+$/, ""),
                });
            }

            return files;
        },
        texts() {
            let texts = [];
            for (var i = 0; i < this.roomObj.texts.length; i++) {
                let text = this.roomObj.texts[i];

                if ( text.reference !== '' && text.reference != this.operator_state.reference ) {
                    continue;
                }

                texts.push(text);
            }
            return texts;
        },
        $config() {
            return this.$store.state.config;
        }
    },
    mounted() {
        var self = this;

        // Handle opeator audio player playback events
        let player = this.audio_channel.player;
        player.addEventListener('ended', function () {
            self.audio_channel.playing = false;
        });
        player.addEventListener('pause', function () {
            self.audio_channel.playing = false;
        });

        if (this.roomObj.session) {
            this.historyHelper(this.roomObj.session);
        }

        if (this.roomObj.audio_out == 'GAMEMASTER') {
            for (var audio_channel = 1; audio_channel <= this.channels; audio_channel++) {
                self.audio_out = true;

                this.eventSetVolumeAudio({
                    channel: audio_channel,
                    volume: 1
                })

                this.loopHelper(1, true)
            }
        }

        const channel = socket({
            type: 'oper',
            username: 'operator-' + this.$route.params.room_id
        });

        channel.on('log', function(data) {
            self.history_log.push(data);
        });

        channel.on('help_requested', function () {
            self.$set(self.operator_state, 'help_indicator', true);
        });

        channel.on('start', function(session) {
            if (!self.roomObj.session || session.id != self.roomObj.session.id) {
                self.startSessionHelper(session);
            }
        });

        channel.on('stop', function(payload) {
            let session = payload.session;
            self.clear_hint_fields();
            self.$store.commit('updateRoomSession', {
                room_id: self.roomObj.id,
                session
            });
        });

        channel.on('session-clear', function() {
            self.$set(self, 'history_log', []);
            self.$store.commit('updateRoomSession', {
                room_id: self.roomObj.id,
                session: false
            });
        });

        channel.on('session-paused', function(session) {
            self.$store.commit('updateRoomSession', {
                room_id: self.roomObj.id,
                session: session
            });
        });

        channel.on('session-unpaused', function(session) {
            self.$store.commit('updateRoomSession', {
                room_id: self.roomObj.id,
                session: session
            });
        });

        let data = {
            type: 'client',
            pass: 123,
            presence_hidden: true,
            operator_roomId: this.roomObj.id,
            operator_ip: this.roomObj.clients['1'].ip
        };

        const clientChannel = socket(data);

        self.registerClientEvents(clientChannel);

        self.initialize_state(self.roomObj);
        if (self.roomObj.session) {
            self.operator_state.help_indicator = self.roomObj.session.help_requested == 'true';
        }
    },
    methods: {
        setHintText(event) {
            this.operator_state.hint_text = event.srcElement.value;
            this.operator_state.hint_text_temp = '';
        },
        filterAssets(assets) {
            let files = [];

            for (var i = 0; i < assets.length; i++) {
                let file = assets[i];
                let tmp = file.split('/');

                if (tmp.length > 1 && tmp[0] != this.operator_state.reference) {
                    continue;
                }

                files.push(file);
            }

            return files;
        },
        switchTab(tabsName, index) {
            this.tabs[tabsName] = index;
        },
        sendCommand: function(command, data) {
            return axios.post('/event/room/' + this.roomObj.id, {
                command,
                data
            });
        },
        block_timer_controls() {
            // $(this.$refs.timer_controls).block(utilities.blockUIConfig2); TODO implement
        },
        unblock_timer_controls() {
            // $(this.$refs.timer_controls).unblock(); TODO implement
        },
        historyHelper(session) {
            if (session.history_log) {
                for (var i = 0; i < session.history_log.length; i++) {
                    let entry = session.history_log[i];
                    this.history_log.push(entry);
                }
            }
        },
        startSessionHelper(session) {
            this.historyHelper(session);
            this.$store.commit('updateRoomSession', {
                room_id: this.roomObj.id,
                session
            });
        },
        // Emit event start
        start() {
            var self = this;
            if (this.currentState == 'EMPTY') {
                utilities.questionModal(
                    'Start session',
                    'Are you sure you want to start the session ?',
                    'Start',
                    '#4fc3f7',
                    'NO'
                ).then(function() {
                    self.block_timer_controls();
                    axios.post('/room/' + self.roomObj.id + '/session/start')
                        .then(function (response) {
                            let session = response.data;
                            self.startSessionHelper(session);
                            self.unblock_timer_controls();
                        }).catch(function(err) {
                            utilities.errorModal('Cannot Start session', err)
                            self.unblock_timer_controls();
                        });
                });
            }
        },
        // Emit event stop
        stop(escaped, force) {
            if (this.currentState != 'EMPTY') {
                var self = this;
                var url = '/room/' + self.roomObj.id + '/session/stop';

                if (escaped) {
                    url += '?escaped=1';
                } else {
                    url += '?escaped=0';
                }

                if (force) {
                    url += '&force=1';
                } else {
                    url += '&force=0';
                }


                let title = 'Stop session';
                let question = 'Do you want to stop the session ?';
                let positiveText = 'Stop';

                if (escaped) {
                    question = 'Did the team escaped the room ?';
                    positiveText = 'Yes';
                }

                if (force) {
                    title = 'FORCE STOP SESSION';
                }

                utilities.questionModal(
                    title,
                    question,
                    positiveText,
                    '#4fc3f7',
                    'NO'
                ).then(function() {
                    self.block_timer_controls();
                    if (self.roomObj.session !== null) {
                        axios.post(url)
                            .then(function() {
                                self.unblock_timer_controls();
                            })
                            .catch(function(err) {
                                utilities.errorModal('Cannot Stop session', err)
                                self.unblock_timer_controls();
                            });
                    } else {
                        utilities.errorModal('Cannot stop session', 'Room does not have an active session');
                    }
                });
            }
        },
        // Emit event hint
        sendHintEvent(text_hint, image_hint) {
            if (this.currentState != 'RUNNING') {
                return;
            }
            var self = this;
            let data = {};

            if (text_hint)
                data.hint = text_hint;

            if (image_hint)
                data.hint_img = image_hint;

            if (Object.keys(data).length == 0) {
                utilities.errorModal('Cannot send empty hint.');
                return;
            }

            return this.sendCommand('hint', data).then(function() {
                self.$set(self.operator_state, 'help_indicator', false);
            }).catch(function(err) {
                utilities.errorModal('Cannot send hint.', err);
            });
        },
        // Emit event hint_reset
        sendHintResetEvent() {
            this.sendCommand('hint_reset', {}).catch(function(err) {
                utilities.errorModal('Cannot send hint reset.', err);
            });
        },
        selectImage(image) {
            this.hint_img = image;
        },
        previewAudio(file) {
            let player = this.audio_channel.player;

            if (this.audio_channel.playing && file == this.audio_channel.playing) {
                player.pause();
            } else {
                player.src = file;
                this.audio_channel.playing = file;
                player.play();
            }
        },
        // Emit event play_audio
        playAudioHelper(channel, payload) {
            if (!payload.file) {
                utilities.errorModal("Please select an audio file for channel " + channel + ".");
                return;
            }

            this.sendCommand('play_audio', {
                file: payload.file,
                asset: payload.asset,
                channel: channel
            }).then().catch(function(err) {
                utilities.errorModal('Cannont send play_audio', '');
            })
        },
        playSoundEffect(file) {
            this.playAudioHelper(2, {
                file: file,
                asset: 'sound'
            });
        },
        playMusic(file) {
            this.playAudioHelper(1, {
                file: file,
                asset: 'music'
            });
        },
        // Emit event pause_audio
        pauseAudio(channel) {
            this.sendCommand('pause_audio', {
                channel: channel
            }).then().catch(function(err) {
                utilities.errorModal('Cannont send pause_audio', '');
            })
        },
        // Emit event stop_audio
        stopAudio(channel) {
            this.sendCommand('stop_audio', {
                channel: channel
            }).then().catch(function(err) {
                utilities.errorModal('Cannont send stop_audio', '');
            })
        },
        // Emit event toggle_loop_audio
        toggleLoopAudio(channel) {
            this.sendCommand('toggle_loop_audio', {
                channel: channel
            }).then().catch(function(err) {
                utilities.errorModal('Cannont send restart_audio', '');
            })
        },
        alarmClient() {
            this.sendCommand('alarm', {});
        },
        clear_hint_fields() {
            this.operator_state.hint_text = '';
            this.operator_state.hint_image = false;

        }
    }
}

</script>

<style>
</style>