<template lang="html">
    <div class="uk-container uk-container-expand uk-margin-remove uk-padding-remove">
        <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-light uk-child-width-1-2@xl uk-grid-match">
            <div>

                <nav class="uk-navbar pz-main-navbar pz-navbar-60 uk-navbar-container" uk-navbar="">
                    <div class="uk-navbar-left">



                        <logo-button />

                     </div>

                </nav>
            </div>
        </div>

        <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match">
            <div>
                <div class="uk-panel uk-light">

                    <table id="all-rooms" class="uk-table uk-table-divider uk-table-striped uk-light uk-table-hover uk-table-small">

                        <thead>
                            <tr class="pz-big-table-header">
                                <th class="pz-bold uk-width-medium uk-table-middle">ROOM</th>
                                <th class="pz-bold uk-width-small uk-table-middle">Session</th>
                                <th class="pz-bold uk-width-small uk-table-middle">Clients</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="room in rooms" :class="{'pz-text-green': room.session !== false}">
                                <td class="uk-table-link pz-bold">
                                     <a class="uk-link-reset" :href="`#/room/${room.id}/panel`">{{room.description}}</a>
                                </td>
                                <td>
                                    <template v-if="room.session">
                                        <i v-if="room.session.state == 'RUNNING'" class="icon-mgm-run fs-20 uk-text-middle"></i>
                                        <i v-if="room.session.state == 'ESCAPED'" class="icon-mgm-trophy fs-20 uk-text-middle"></i>
                                        <i v-if="room.session.state == 'NOT-ESCAPED'" class="icon-mgm-disappointed fs-20 uk-text-middle"></i>
                                        <span v-if="room.session.state == 'PAUSED'"><i class="icon-mgm-pause fs-20 pz-margin-right-5 uk-text-middle"></i>Paused</span>

                                        <countdown :time="getRemainingTime(room.session)" v-if="room.session.state == 'RUNNING'">
                                            <template slot-scope="props">-{{ parseInt(props.hours) * 60 + parseInt(props.minutes) }}:{{ props.seconds }}</template>
                                        </countdown>
                                    </template>
                                </td>
                                <td>

                                   <img v-for="client in room.clients" :class="{'connected-icon' : client.connected, 'disconnected-icon' : !client.connected }" class="pz-margin-right-10" uk-svg>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'
import VueCountdown from '@xkeshi/vue-countdown'
import LogoButton from '@/components/operator/LogoButton';
import ServerDate from '@/helpers/serverdate'


export default {
    name: 'rooms-grid',
    components: {
        'countdown': VueCountdown,
        LogoButton
    },
    computed: {
        ...mapState(['rooms'])
    },
    methods: {
        getRemainingTime(session) {
            return moment.utc(session.start_date)
                         .add(session.total_seconds, 'seconds')
                         .add(session.extra_seconds, 'seconds')
                         .add(session.paused_seconds, 'seconds')
                         .diff(moment( ServerDate.now() ).utc(), 'milliseconds');
        }
    }
}
</script>

