<template>
    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match" uk-grid>
        <div>


            <nav id="client-nav" class="client-item uk-navbar uk-light pz-navbar pz-white-bg uk-navbar-container pz-margin-horizontal-15" uk-navbar="">
                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">

                        <li>
                            <a id="client-navitem" class="client-item pz-title" uk-toggle="target: .client-item; cls: pz-active">
                                <img class="client-icon uk-margin-small-right" uk-svg>
                            CLIENT</a>
                        </li>

                    </ul>
                </div>

                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <!-- class="uk-navbar-item uk-padding-remove pz-margin-right-15" -->
                        <li v-for="(client, key, index) in room.clients" :key="client.ip" >

                            <a :class="{'uk-disabled' : !client.connected }" class="uk-padding-remove-left">
                                <img :class="{'connected-icon' : client.connected, 'disconnected-icon' : !client.connected }" uk-svg>
                            </a>

                            <div ref="reloadDropdown" uk-dropdown="mode: click; pos: bottom-right">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">Client #{{key}}</li>
                                    <li><a @click="reloadClient(client.ip, index)">Reload Client</a></li>
                                </ul>
                            </div>

                        </li>

                    </ul>

                </div>

            </nav>

            <div id="client-content" class="client-item pz-dropdown-area pz-margin-horizontal-15 pz-white-bg uk-card uk-card-default uk-card-body uk-margin-remove uk-padding-small">

                CLIENT

            </div>

        </div>
    </div>
</template>

<script>
import UIkit from 'uikit';
import utilities from '@/helpers/utilities';

export default {
    name: 'client-area',
    props: {
        room: {
            required: true
        }
    },
    methods: {
        reloadClient(client_ip, index) {
            UIkit.dropdown(this.$refs.reloadDropdown[index]).hide();
            this.$parent.sendCommand('reload', {client_ip}).catch(function () {
                utilities.errorModal('Cannont restart client');
            });
        }
    }
}
</script>

<style>

</style>
