<template>

    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match">
        <div>
            <div class="uk-panel pz-white-bg pz-margin-horizontal-15">

                <nav class="uk-navbar uk-light pz-navbar pz-white-bg pz-hint-navbar uk-navbar-container pz-margin-horizontal-15"
                    uk-navbar="" v-show="state.hint != '' || state.hint_img != ''">
                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li> <!--  -->
                                <div class="hint-alert uk-margin-remove uk-padding-remove-top uk-padding-remove-bottom">
                                    <a v-show="state.hint_img != ''" uk-toggle="target: #hint-area-modal-hint-image">
                                        <i class="uk-text-middle icon-mgm-picture fs-20"></i>
                                    </a>
                                    <span>{{state.hint}}</span>
                                    <div class="uk-position-top-right hint-alert-close">
                                        <a @click="sendHintResetEvent">
                                            <i class="icon-mgm-close fs-10 pz-white-text"></i>
                                        </a>
                                    </div>
                                </div>

                                <div id="hint-area-modal-hint-image" class="uk-flex-top" uk-modal>
                                    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                                        <img :src="state.hint_img">
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>

                </nav>


                <div class="uk-inline uk-width-1-1">

                    <div class="imagepreview-container" v-if="hint_image" >
                        <div class="uk-inline">
                            <img class="imagepreview" :src="assetPathHelper('images', hint_image)">
                            <div class="uk-position-top-right uk-padding-remove uk-margin-remove pz-padding-5">
                                <div style="background-color: #c33737; border-radius: 30px">
                                    <a @click="hint_image = false">
                                        <i class="icon-mgm-close fs-10 pz-white-text"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pz-textarea-padding" :class="{'hasimage': hint_image }">
                        <textarea class="uk-textarea naked" :class="{'uk-disabled': currentState != 'RUNNING' }" rows="3" v-model="hint_text" placeholder="text hint"></textarea>

                    </div>

                </div>


                <nav class="uk-navbar pz-navbar pz-white-bg uk-light uk-navbar-container" uk-navbar="">

                    <div class="uk-navbar-left">
                         <ul class="uk-navbar-nav">
                            <li class="pz-margin-right-5" >
                                <a><i class="icon-mgm-notebook fs-24"></i></a>

                                <div ref="hint_texts_dropdown" class="texthint-dropdown uk-padding-small uk-margin-remove" uk-dropdown="mode: click; pos: top-left">

                                    <div class="pz-text-hints uk-panel uk-panel-scrollable uk-height-medium uk-text-left uk-padding-remove">

                                    <table class="uk-table uk-light pz-no-diver uk-table-hover uk-table-striped uk-table-middle fs-14">
                                        <thead>
                                            <tr>

                                                <th class="uk-table-expand uk-hidden">Expand + Link</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="text in texts" :key="text.id">


                                                <td class="uk-table-link">
                                                    <a :class="{'uk-disabled': currentState != 'RUNNING' }" @click="setText(text.text)" class="uk-link-reset pz-padding-5 pz-no-text-select">{{text.text}}</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="uk-navbar-center">
                        <div class="uk-navbar-item">
                            <div v-if="currentState == 'RUNNING'">
                                <span class="pz-padding-right-5">NEXT HELP:</span>
                                <span class="help-available-text" v-if="state.help_indicator">
                                    <i class="icon-mgm-tick"></i>
                                    AVAILABLE
                                </span>
                                <span v-else>
                                    {{format_time(state.help_seconds)}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">

                            <li class="pz-margin-right-5" >
                                <a :class="{'uk-disabled': currentState != 'RUNNING' }" @click="clear_hint_fields()"><i class="icon-mgm-cancel fs-10 pz-padding-right-5"></i>CLEAR</a>
                            </li>

                            <li class="pz-margin-right-5">
                                <a :class="{'uk-disabled': currentState != 'RUNNING' }" @click="sendHintEvent(hint_text, hint_image)">
                                    <img class="send-icon pz-margin-right-5" uk-svg>SEND</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</template>
<script>
import UIkit from 'uikit';

export default {
    name: 'hint-area',
    computed: {
        state() {
            return this.$parent.state;
        },
        hint_text: {
            get() {
                return this.$parent.operator_state.hint_text;
            },
            set(value) {
                this.$parent.operator_state.hint_text = value;
            }
        },
        hint_image: {
            get() {
                return this.$parent.operator_state.hint_image;
            },
            set(value) {
                this.$parent.operator_state.hint_image = value;
            }
        },
        assetPathHelper() {
            return this.$parent.assetPathHelper;
        },
        currentState() {
            return this.$parent.currentState;
        },
        texts() {
            return this.$parent.texts;
        },
        format_time() {
            return this.$parent.format_time;
        },
        clear_hint_fields() {
            return this.$parent.clear_hint_fields;
        },
        sendHintResetEvent() {
            return this.$parent.sendHintResetEvent;
        }
    },
    methods: {
        setText(text) {
            this.hint_text = text;
            UIkit.dropdown(this.$refs.hint_texts_dropdown).hide();
        },
        sendHintEvent(hint_text, hint_image) {
            let self = this;
            let promise = this.$parent.sendHintEvent(hint_text, hint_image);
            promise.then(function(params) {
                self.$parent.clear_hint_fields();
            });

        }
    }
}
</script>

<style>

</style>
