<template>
    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match" uk-grid>
        <div>

            <nav id="history-nav" class="history-item uk-light uk-navbar pz-navbar pz-white-bg uk-navbar-container pz-margin-horizontal-15"
                uk-navbar="">
                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li>
                            <a id="history-navitem" class="history-item pz-title" href="#history" uk-toggle="target: .history-item; cls: pz-active">
                                <img class="history-icon uk-margin-small-right" uk-svg> HISTORY
                            </a>
                        </li>
                    </ul>
                </div>



            </nav>

            <div id="history-content" class="history-item pz-dropdown-area pz-margin-horizontal-15 pz-white-bg uk-card uk-card-default uk-card-body uk-padding-small uk-margin-remove">

                <div class="uk-panel uk-panel-scrollable uk-text-left uk-resize-vertical">

                    <table id="history-table" class="uk-table uk-overflow-auto uk-table-striped uk-table-small pz-font-13">
                        <thead>
                            <tr class="uk-hidden">
                                <th>Time</th>
                                <th >Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(log,index) in logs" :key="index">
                                <td style="width: 70px">
                                    <i class="fa fa-clock-o"></i> {{log.date}}
                                </td>
                                <td>
                                    <div class="uk-label">{{log.action}}</div>
                                    <template v-if="log.action == 'HINT'">
                                        <template v-if="log.file">
                                            <a uk-icon="icon: image" :href="`#modal-hint-image-${roomId}-` + guid(log)" uk-toggle></a>
                                            <div :id="`modal-hint-image-${roomId}-` + guid(log) " class="uk-flex-top" uk-modal>
                                                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                    <img :src=" path + log.file " alt="Hint Image">
                                                </div>
                                            </div>
                                        </template>
                                        {{log.text}}
                                    </template>
                                    <template v-if="log.action == 'AUDIO'">
                                        {{log.file}}
                                    </template>
                                    <template v-if="log.action == 'ADD_TIME'">
                                        {{log.text / 60}} minutes
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</template>


<script>
import moment from 'moment'

export default {
    name: 'history-grid',
    props: {
        data: {
            type: Array,
            required: true
        },
        path: {
            type: String,
            required: true
        },
        roomId: {
            type: String,
            required: true
        }
    },
    computed: {
        logs() {
            let logs = [];

            for (var i = 0; i < this.data.length; i++) {
                let log = Object.assign({}, this.data[i]);
                log.date = moment.utc(log.date).format("HH:mm:ss")
                logs.push(log);
            }

            logs.sort(function (a, b) {
                if (a.date > b.date)
                    return -1;
                else if (a.date < b.date)
                    return 1;
                else
                    return 0;
            })

            return logs;
        }
    },
    methods: {
        guid(log) {
            return log.file.replace(/\//g, '').replace(/\./g, '') + log.date.replace(/:/g, '-');
        }
    }
}
</script>

<style>

</style>
