<template>

    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match" uk-grid>

        <div class="uk-first-column">

            <nav id="images-nav" class="images-item uk-navbar uk-light pz-navbar pz-white-bg uk-navbar-container pz-margin-horizontal-15" uk-navbar="">
                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li>
                            <a id="images-navitem" class="images-item pz-title" uk-toggle="target: .images-item; cls: pz-active">
                                <img class="image-icon uk-margin-small-right" uk-svg>
                            IMAGES</a>
                        </li>

                    </ul>
                </div>

            </nav>

            <div id="images-content" class="images-item pz-dropdown-area pz-margin-horizontal-15 pz-white-bg uk-card uk-card-default uk-card-body  uk-margin-remove uk-padding-small">

                <ul class="uk-thumbnav1 imagelist" uk-margin>

                    <li v-for="image in imageFiles" :key="image.id">
                        <div class="uk-inline imagecontainer">
                            <img class="imagethumb" :src="image.file">

                             <div class="imagebuttons uk-overlay uk-overlay-default uk-position-bottom pz-padding-15">
                                <div class="uk-position-bottom-left uk-padding-remove uk-margin-remove pz-padding-left-5">
                                    <a :class="{'uk-hidden': currentState != 'RUNNING' }" @click="attach(image.id)"><i class="icon-mgm-attach"></i></a>
                                </div>

                                <div class="uk-position-bottom-center uk-margin-remove uk-padding-remove">
                                    <a :uk-toggle="'target: #' + 'image-panel-modal-hint-image-' + image.id.replace(/\./g, '-').replace(/\//g,'-')"><i class="icon-mgm-picture"></i></a>
                                </div>

                                <div class="uk-position-bottom-right uk-padding-remove uk-margin-remove pz-padding-right-5">
                                    <a :class="{'uk-hidden': currentState != 'RUNNING' }" @click="sendImage(image.id)"><i class="icon-mgm-forward"></i></a>
                                </div>
                            </div>

                            <div :id="'image-panel-modal-hint-image-' + image.id.replace(/\./g, '-').replace(/\//g,'-')" class="uk-flex-top" uk-modal>
                                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                                    <img :src="image.original">
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>


            </div>

        </div>

    </div>
</template>

<script>
export default {
    name: 'image-panel',
    computed: {
        imageFiles() {
            let files = [];
            let assets = this.$parent.filterAssets(this.$parent.roomObj.assets.images);

            for (var i = 0; i < assets.length; i++) {
                let tmp = assets[i].split('/');
                tmp.splice(tmp.length - 1, 0, 'thumbs');
                let path = tmp.join('/');
                files.push({
                    id: assets[i],
                    file: this.$parent.assetPathHelper('images', path),
                    original: this.$parent.assetPathHelper('images', assets[i])
                });
            }

            return files;
        },
        currentState() {
            return this.$parent.currentState;
        }
    },
    methods: {
        attach(image) {
            this.$parent.operator_state.hint_image = image;
        },
        sendImage(image) {
            this.$parent.sendHintEvent(false, image);
        }
    }
}
</script>

<style>

</style>
