<template>
    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match" uk-grid>

        <div class="uk-first-column">

            <nav id="audio-nav" class="audio-item uk-light uk-navbar pz-navbar pz-white-bg uk-navbar-container pz-margin-horizontal-15" uk-navbar="">
                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li>
                            <a id="audio-navitem" class="audio-item pz-title" uk-toggle="target: .audio-item; cls: pz-active">
                                <img class="audio-icon uk-margin-small-right" uk-svg>
                            MUSIC</a>
                        </li>
                    </ul>

                    <div class="uk-navbar-item uk-padding-remove-right">
                        <span class="soundfile playing">
                            {{playing ? playing : last_song}}
                            <div class="pz-eq" v-if="playing">
                                <div class="eq__bar eq1"></div>
                                <div class="eq__bar eq2"></div>
                                <div class="eq__bar eq3"></div>
                            </div>
                        </span>

                    </div>
                    <ul class="uk-navbar-nav">
                        <li v-if="!playing">
                            <!-- Play Button -->
                            <a @click.prevent="playLastSong" class="uk-padding-remove pz-padding-left-5">
                                <i class="icon-mgm-start fs-20"></i>
                            </a>
                        </li>
                        <li v-else>
                            <!-- Stop Button -->
                            <a @click.prevent="stopMusic" class="uk-padding-remove pz-padding-left-5">
                                <i class="icon-mgm-stop fs-20"></i>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a :class="{'uk-disabled': $parent.currentState == 'EMPTY' }"><i class="icon-mgm-mixer fs-24"></i></a>

                            <div uk-dropdown="mode: click; pos: bottom-right">
                                <span class="fs-14">Master: </span><span class="pz-white-text">{{ prepareFloat(master_volume) }}%</span>
                                <input class="uk-range" type="range" :value="master_volume" @change="setMasterVolume" min="0" max="100" step="0.1">
                                <span class="fs-14">Music: </span><span class="pz-white-text">{{ prepareFloat(volumes[0]) }}%</span>
                                <input class="uk-range" type="range" :value="volumes[0]" @change="setVolume($event, 0)" min="0" max="100" step="0.1">
                                <span class="fs-14">Sound: </span><span class="pz-white-text">{{ prepareFloat(volumes[1]) }}%</span>
                                <input class="uk-range" type="range" :value="volumes[1]" @change="setVolume($event, 1)" min="0" max="100" step="0.1">
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>

            <div id="audio-content" class="audio-item pz-dropdown-area pz-margin-horizontal-15 pz-white-bg uk-card uk-card-default uk-card-body uk-margin-remove uk-padding-small">

                <ul class="uk-subnav uk-subnav-divider1" uk-margin>
                    <li v-for="music in data" :key="music.id">
                        <a @click.prevent="$emit('play-music', music.id)">{{music.text}}</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</template>

<script>
import _ from 'lodash';

export default {
    name: 'music-panel',
    props: {
        data: {
            type: Array,
            required: true
        },
        playing: {
            type: String,
            required: true
        }
    },
    computed: {
        volumes() {
            if (this.$parent.roomObj.session) {
                let volumes = this.$parent.roomObj.session.channel_volumes;
                if (typeof volumes == 'string')
                    volumes = volumes.split(',');
                return volumes.map(x => x * 100);
            } else {
                return [100, 100, 100];
            }
        },
        master_volume() {
            if (this.$parent.roomObj.session) {
                return this.$parent.roomObj.session.master_volume * 100;
            } else {
                return 100;
            }
        }
    },
    data() {
        let data = {};
        data.last_song =  this.$parent.roomObj.session ? this.$parent.roomObj.session.background_music : 'background.mp3';
        return data;
    },
    methods: {
        stopMusic() {
            this.last_song = this.playing;
            this.$emit('stop-music');
        },
        playLastSong() {
            this.$emit('play-music', this.last_song);
        },
        sendSetVolumeEvent(channel, volume) {
            this.$parent.sendCommand('set_volume_audio', {
                channel,
                volume
            });
        },
        prepareFloat(flt) {
            return parseFloat(flt).toFixed(1);
        },
        setMasterVolume(ev) {
            this.$parent.sendCommand('set_master_volume', {
                volume: ev.target.value / 100
            });
        },
        setVolume(ev, channel) {
            this.sendSetVolumeEvent(channel + 1, ev.target.value / 100);
        }
    }
}
</script>

<style>

</style>
