<template>
    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-light uk-child-width-1-2@xl uk-grid-match">
        <div>

            <nav class="uk-navbar pz-main-navbar pz-navbar-60 uk-navbar-container" uk-navbar="">
                <div class="uk-navbar-left">



                    <logo-button></logo-button>



                    <ul class="uk-navbar-nav">
                        <li>
                            <a class="uk-padding-remove">{{$parent.roomObj.description}}</a>

                            <div class="uk-dropdown pz-main-menu" uk-dropdown="pos: bottom-left; mode: click; delay-hide: 0">
                                <ul class="uk-nav uk-dropdown-nav">

                                    <li :class="{'uk-active': $route.fullPath == `/` }">
                                        <a class="pz-bold" href="#/">
                                            <span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>
                                            All Rooms
                                        </a>
                                    </li>

                                    <li class="uk-nav-divider uk-margin-small"></li>

                                    <li v-for="room in rooms" :class="{'uk-active': $route.fullPath == `/room/${room.id}/panel`}" :key="room.id">
                                        <a class="pz-bold " :class="{'pz-text-green': room.session !== false}" :href="`#/room/${room.id}/panel`">
                                            <span class="uk-margin-small-right" uk-icon="icon: desktop"></span>{{room.description}}

                                            <template v-if="room.session !== false">
                                                <i class="fa fa-play pz-green"></i>
                                            </template>
                                        </a>
                                    </li>



                                </ul>
                            </div>
                        </li>
                    </ul>


                    <div class="uk-navbar-item" v-if="$parent.roomObj.session">
                        <div class="pz-status-label" :class="$parent.currentState">
                            <span class="uk-text-middle">

                                <span v-if="$parent.roomObj.session && $parent.currentState == 'RUNNING'">
                                    <i class="icon-mgm-run fs-20 uk-text-middle"></i>
                                </span>

                                <span v-if="$parent.roomObj.session && $parent.currentState == 'ESCAPED'">
                                    <i class="icon-mgm-trophy fs-20 uk-text-middle"></i>
                                </span>

                                <span v-if="$parent.roomObj.session && $parent.currentState == 'NOT-ESCAPED'">
                                    <i class="icon-mgm-disappointed fs-20 uk-text-middle"></i>
                                </span>

                                <span v-if="$parent.roomObj.session && $parent.currentState == 'PAUSED'">
                                    <i class="icon-mgm-pause fs-20 uk-text-middle"></i>
                                </span>

                                <span v-if="$parent.roomObj.session && $parent.currentState != 'RUNNING' && $parent.roomObj.session && $parent.currentState != 'PAUSED'">
                                -{{$parent.format_time($parent.state.reset_seconds)}}
                                </span>
                        </span>
                        </div>
                    </div>

                    <ul class="uk-navbar-nav pz-bg-gray">
                        <li v-if="$parent.currentState == 'EMPTY'">
                            <a @click="$parent.start()">
                                <i class="icon-mgm-start pz-padding-right-5 fs-20"></i>
                                Start
                            </a>
                        </li>

                        <li v-if="$parent.currentState == 'PAUSED'">
                            <a @click="unpause()"><i class="icon-mgm-start uk-text-middle fs-20 pz-margin-right-5"></i>Unpause</a>
                        </li>

                        <li v-if="$parent.currentState == 'ESCAPED' || $parent.currentState == 'NOT-ESCAPED' ">
                            <a @click="force_stop(false)">
                                <i class="icon-mgm-stop uk-text-middle fs-20 pz-margin-right-5"></i>Stop Session
                            </a>
                        </li>

                        <li v-else-if="$parent.currentState != 'EMPTY' && $parent.currentState != 'PAUSED'">
                            <a>
                                <i class="icon-mgm-finish-flag pz-padding-right-5 fs-20"></i>
                                Stop
                            </a>
                            <div ref="session_controlls_dropdown" uk-dropdown="mode: click; pos: bottom-left; delay-hide: 0">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <template v-if="$parent.currentState == 'RUNNING'">
                                        <li @click="escaped()">
                                            <a><i class="icon-mgm-trophy uk-text-middle fs-20 pz-margin-right-5"></i>Escaped</a>
                                        </li>
                                        <li @click="not_escaped()">
                                            <a><i class="icon-mgm-disappointed uk-text-middle fs-20 pz-margin-right-5"></i>Not escaped</a>
                                        </li>
                                    </template>
                                    <li>
                                        <a @click="force_stop(true)"><i class="icon-mgm-stop fs-20 uk-text-middle pz-margin-right-5"></i>Stop Session</a>
                                    </li>

                                    <li class="uk-nav-divider"></li>

                                    <li>
                                        <a @click="pause()"><i class="icon-mgm-pause fs-20 uk-text-middle pz-margin-right-5"></i>Pause</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="uk-navbar-center">
                </div>

                <div class="uk-navbar-right">

                    <div class="uk-navbar-item">

                        <!-- <div class="uk-alert-danger uk-alert uk-margin-remove pz-help-request" uk-alert>
                                <a class="uk-alert-close uk-text-middle uk-close uk-icon" uk-close></a>
                                <img style="padding-right: 10px" src="icons/help" width="32" height="32" uk-svg>
                            </div> -->

                        <!-- <img class="pz-blink1" style="padding-right: 10px; padding-left: 10px; border-radius: 5px" src="icons/help" width="42" height="42" uk-svg> -->

                    </div>

                    <ul class="uk-navbar-nav">


                        <li class="pz-blink" v-if="$parent.operator_state.help_indicator">
                            <a @click="$emit('dismiss-help')">
                                <i class="icon-mgm-help fs-42"></i>
                            </a>
                        </li>

                        <li v-if="$parent.roomObj.session && $parent.currentState != 'RUNNING'">
                            <a>

                            </a>
                        </li>

                        <li>
                            <a :class="{'uk-disabled': $parent.currentState == 'EMPTY'}" >
                                {{ ($parent.state.game_seconds > 0) ? '-' : '' }}{{$parent.format_time($parent.state.game_seconds)}}
                                <i :class="{'uk-hidden': $parent.currentState != 'RUNNING'}" class="icon-mgm-add-time pz-padding-left-5 fs-20"></i>

                                <!-- DROPDOWN PANEL -->
                                <div ref="dropdown" class="uk-dropdown pz-dropdown" uk-dropdown="mode: click; pos: bottom-right; delay-hide: 0" style="width: 215px">
                                    <div class="uk-inline">
                                        <!-- MINI FORM TO TYPE MINUTES -->
                                        <input v-model="extra_minutes" class="uk-input uk-form-width-small" type="text" placeholder="add minutes">
                                        <a @click="modifyMinutes(extra_minutes)">
                                            <i class="icon-mgm-add-round fs-24 uk-text-middle pz-padding-left-5"></i>
                                        </a>
                                        <!-- /MINI FORM -->
                                    </div>
                                </div>
                                <!-- /DROPDOWN -->
                            </a>


                        </li>

                    </ul>

                </div>


            </nav>
        </div>
    </div>
</template>


<script>
import UIkit from 'uikit';
import axios from '@/helpers/axios';
import utilities from '@/helpers/utilities';
import LogoButton from '@/components/operator/LogoButton';

import moment from 'moment';
import { mapState } from 'vuex'

export default {
    name: 'nav-bar',
    components: {
        LogoButton
    },
    data() {
        return {
            extra_minutes: 5
        }
    },
    computed: {
        ...mapState(['rooms', 'connection_status']),
    },
    methods: {
        // emit event add_time
        modifyMinutes(minutes) {
            if (this.$parent.currentState != 'RUNNING') {
                return;
            }

            let self = this;

            let reason = `Please provide another number instead of ${minutes}.`;

            if (minutes != 0 && !(minutes < 0 && Math.abs(minutes * 60) > this.$parent.state.game_seconds) ) {
                this.$parent.sendCommand('add_time', {
                    seconds: minutes * 60
                }).then(function () {
                    UIkit.dropdown(self.$refs.dropdown).hide();
                }).catch(function (err) {
                    utilities.errorModal('Cannot add extra minutes', err);
                });
            } else {

                if (minutes < 0 && Math.abs(minutes * 60) > this.$parent.state.game_seconds) {
                    reason += 'Negative minutes should be less than current time.';
                }
                utilities.errorModal(reason);
            }
        },
        escaped() {
            UIkit.dropdown(this.$refs.session_controlls_dropdown).hide();
            this.$parent.stop(true);
        },
        not_escaped() {
            UIkit.dropdown(this.$refs.session_controlls_dropdown).hide();
            this.$parent.stop(false);
        },
        force_stop($hideDrop) {
            if ($hideDrop)
                UIkit.dropdown(this.$refs.session_controlls_dropdown).hide();
            this.$parent.stop(false, true);
        },
        pause() {
            let self = this;

            utilities.questionModal(
                'Pause Session',
                'Are you sure you want to pause the session ?',
                'Pause',
                '#4fc3f7',
                'NO'
            ).then(function() {
                axios.post('/room/' + self.$parent.roomObj.id + '/session/pause')
                    .catch(function (err) {
                        utilities.errorModal('Cannot Pause Session', err);
                    });
            }).catch(() => {});

        },
        unpause() {
            let self = this;

            utilities.questionModal(
                'Resume Session',
                'Are you sure you want to resume the session ?',
                'Resume',
                '#4fc3f7',
                'NO'
            ).then(function() {
                axios.post('/room/' + self.$parent.roomObj.id + '/session/unpause')
                .catch(function (err) {
                    utilities.errorModal('Cannot Resume Session', err);
                });
            }).catch(() => {});

        }
    }
}
</script>

<style>

</style>
