<template>
<div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match" uk-grid>
    <div>


        <nav id="sound-nav" class="sound-item uk-navbar uk-light pz-navbar pz-white-bg uk-navbar-container pz-margin-horizontal-15" uk-navbar="">
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">

                    <li>
                        <a id="sound-navitem" class="sound-item pz-title" uk-toggle="target: .sound-item; cls: pz-active">
                            <img class="sound-icon uk-margin-small-right" uk-svg>
                        SOUND</a>
                    </li>

                </ul>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a :class="{'uk-disabled': $parent.currentState != 'RUNNING' }" @click="$parent.alarmClient()"><i class="icon-mgm-alarm fs-24"></i></a>
                    </li>
                </ul>
            </div>

        </nav>

        <div id="sound-content" class="sound-item pz-dropdown-area pz-margin-horizontal-15 pz-white-bg uk-card uk-card-default uk-card-body uk-margin-remove uk-padding-small">

            <ul class="uk-subnav uk-subnav-divider1" uk-margin>
                <li v-for="sound in data" :key="sound.id">
                    <a :class="{'uk-disabled': $parent.currentState != 'RUNNING' }" @click.prevent="$emit('play-sound', sound.id)">{{sound.text}}</a>
                </li>
            </ul>

        </div>

    </div>
</div>
</template>

<script>
export default {
    name: 'sound-panel',
    props: {
        data: {
            type: Array,
            required: true
        }
    },
}
</script>

<style>

</style>
