<template>
    <div class="uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@xl uk-grid-match" uk-grid>
        <div>

            <nav id="walkthroughs-nav" class="walkthroughs-item uk-light uk-navbar pz-navbar pz-white-bg uk-navbar-container pz-margin-horizontal-15"
                uk-navbar="">
                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">

                        <li class="uk-margin-small-right">
                            <a id="walkthroughs-navitem" class="walkthroughs-item pz-title" uk-toggle="target: .walkthroughs-item; cls: pz-active">
                                <img class="walkthroughs-icon uk-margin-small-right" uk-svg> WALKTHROUGHS
                            </a>
                        </li>

                        <li>
                            <a @click="changeCurrent(current - 1)" class="uk-padding-remove pz-padding-right-5">
                                <span uk-pagination-previous></span>
                            </a>
                        </li>

                        <li v-for="(step, index) in walkthroughs" :key="step.id">
                            <a @click="changeCurrent(index)" class="uk-padding-remove">
                                <span class="walkthrough-number" :class="{'done': step.completed, 'active':  index == current}">
                                    <i class="icon-mgm-tick" v-if="step.completed"></i>
                                    <i :class="{'uk-hidden': $parent.currentState != 'RUNNING'}" class="icon-mgm-current" v-if="index == current_step"></i>
                                    {{ index + 1}}
                                </span>
                            </a>
                        </li>

                        <li>
                            <a @click="changeCurrent(current + 1)" class="uk-padding-remove">
                                <span uk-pagination-next></span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="uk-navbar-right" v-if="!currentStep.locked && session.state == 'RUNNING'">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a @click="complete(current)" v-if="!currentStep.completed && !currentStep.locked && session.state == 'RUNNING'">
                                <i class="icon-mgm-completed pz-padding-right-5"></i>
                                DONE
                            </a>
                            <a @click="revert(current)" v-if="currentStep.completed && !currentStep.locked && session.state == 'RUNNING'">
                                <i class="icon-mgm-cancel pz-padding-right-5"></i>
                                UNDO
                            </a>

                        </li>
                    </ul>
                </div>

            </nav>

            <div id="walkthroughs-content" class="walkthroughs-item uk-light pz-dropdown-area pz-margin-horizontal-15 pz-white-bg uk-card uk-card-default uk-card-body uk-padding-small uk-margin-remove">
                <p>
                    <span class="walkthrough-number active current">
                        <i :class="{'uk-hidden': $parent.currentState != 'RUNNING'}" class="icon-mgm-current" v-if="current == current_step"></i>
                        {{current + 1}}
                    </span>
                    {{currentStep.text}}
                </p>
            </div>
        </div>
    </div>
</template>



<script>
import axios from '@/helpers/axios';
import utilities from '@/helpers/utilities';

export default {
    name: 'walkthrough-list',
    props: {
        roomId: {
            required: true
        },
        data: {
            type: Array,
            default() {
                return [];
            }
        },
        session: {
            required: true
        }
    },
    data() {
        return {
            walkthroughs: [],
            current_step: -1,
            current: this.session ? parseInt(this.session.walkthrough) : 0
        }
    },
    computed: {
        currentStep() {
            if (this.current in this.walkthroughs) {
                return this.walkthroughs[this.current];
            } else {
                return {};
            }
        },
        $config() {
            return this.$store.state.config;
        }
    },
    watch: {
        data(newData) {
            this.walkthroughs = this.initialize_walkthroughs();
        },
        session(newSession) {
            if (newSession) {
                this.current = parseInt(newSession.walkthrough);
            } else {
                this.current = 0;
            }

            this.walkthroughs = this.initialize_walkthroughs();
        },
        current(newCurrent) {
            this.$emit('input', this.walkthroughs[newCurrent].reference);
        }
    },
    mounted() {
            this.walkthroughs = this.initialize_walkthroughs();
            if (this.walkthroughs[this.current]) {
                this.$emit('input', this.walkthroughs[this.current].reference);
            }
    },
    methods: {
        complete(index) {
            if (!this.session) {
                return;
            }

            if (index in this.walkthroughs) {
                // If current is locked cannot complete step
                if (this.walkthroughs[index].locked) {
                    console.warn('Step is locked', index, 'cannot perform complete');
                    return;
                }
                let self = this;
                // Set current as complete
                axios.post(`/room/${this.roomId}/session/walkthrough`, {
                    walkthrough: index
                }).then(function () {
                    self.walkthroughs[index].completed = true;
                    self.$set(self.walkthroughs, index, self.walkthroughs[index]);
                    // Lock previous (if exists)
                    if ((index - 1) in self.walkthroughs) {
                        self.walkthroughs[index - 1].locked = true;
                        self.$set(self.walkthroughs, index - 1, self.walkthroughs[index - 1]);
                    }

                    // Unlock next (if exists)
                    // Go to next
                    if ((index + 1) in self.walkthroughs) {
                        self.walkthroughs[index + 1].locked = false;
                        // Keep current
                        self.current_step = index + 1;
                        self.$set(self.walkthroughs, index + 1, self.walkthroughs[index + 1]);
                        self.changeCurrent(index + 1);
                    }
                }).catch(function (err) {
                    utilities.errorModal('Cannot inform server that walkthrough step is complete', err);
                });
            } else {
                console.warn('Invalid index');
            }
        },
        revert(index) {
            if (index in this.walkthroughs) {
                // If current is locked cannot undo step
                if (this.walkthroughs[index].locked) {
                    console.warn('Step is locked', index, 'cannot perform undo');
                    return;
                }
                // Set current as incomplete
                this.walkthroughs[index].completed = false;
                // Set current_step
                this.current_step = index;
                this.$set(this.walkthroughs, index, this.walkthroughs[index]);
                // Lock next (if exists)
                if ((index + 1) in this.walkthroughs) {
                    this.walkthroughs[index + 1].locked = true;
                    this.$set(this.walkthroughs, index + 1, this.walkthroughs[index + 1]);

                }
            } else {
                console.warn('Invalid index');
            }
        },
        changeCurrent(index) {
            if (index < 0 || index >= this.walkthroughs.length) {
                console.warn('Invalid index', index);
                return;
            }
            this.current = index;
        },
        initialize_walkthroughs() {
            let steps = [];

            for (var i = 0; i < this.data.length; i++) {
                let walkthrough = this.data[i];
                if (i < this.current) {
                    walkthrough.locked = true;
                    walkthrough.completed = true;
                } else if (i == this.current) {
                    this.current_step = i;
                    walkthrough.locked = false;
                    walkthrough.completed = false;
                } else {
                    walkthrough.locked = true;
                    walkthrough.completed = false;
                }
                steps.push(walkthrough);
            }

            return steps;
        }
    }
}
</script>

<style>

</style>
