extends layout

block content
  h1= title
  form(action="/login", method="post")
    label(for="username") username:
    input#username(name="username", type="text")
    label(for="password") password:
    input#password(name="password", type="password")
    button(type="submit") Login
