<template>
    <div>
        <h1 v-if="error" style="color: white;">Error while loading "production" configuration</h1>
        <router-view v-if="loaded" />
    </div>
</template>

<script>
import axios from 'axios'
import { mapMutations } from 'vuex'
import ServerDate from '@/helpers/serverdate'
var moment = require('moment');

export default {
    name: 'app',
    data() {
        return {
            loaded: false,
            error: false
        }
    },
    mounted() {
        let self = this;

        if (process.env.NODE_ENV === 'development') {
            const CONFIG = require('@/helpers/config').default;
            self.setConfig(CONFIG);
            self.loaded = true;
        } else {
            axios.get('/config.json').then(function(response){
                const CONFIG = response.data;
                self.setConfig(CONFIG);
                self.loaded = true;
            }).catch(function(err) {
                console.error(err);
                self.error = true;
            });
        }
    },
    methods: {
        ...mapMutations(['setConfig'])
    }
}
</script>
