/* roboto-slab-regular - latin_greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('./fonts/roboto-slab-v7-latin_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-slab-v7-latin_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-700 - latin_greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('./fonts/roboto-slab-v7-latin_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-slab-v7-latin_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'MindtrapGM';
    src: url('./fonts/MindtrapGM.eot');
    src: url('./fonts/MindtrapGM.eot?#iefix') format('embedded-opentype'),
         url('./fonts/MindtrapGM.woff') format('woff'),
         url('./fonts/MindtrapGM.ttf') format('truetype'),
         url('./fonts/MindtrapGM.svg#MindtrapGM') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-mgm-']:before{
  display: inline-block;
   font-family: 'MindtrapGM';
   font-style: normal;
   font-weight: normal;
   line-height: 1 !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-mgm-start:before{content:'\0041';}
.icon-mgm-stop:before{content:'\0042';}
.icon-mgm-completed:before{content:'\0043';}
.icon-mgm-mixer:before{content:'\0044';}
.icon-mgm-add-time:before{content:'\0045';}
.icon-mgm-alarm:before{content:'\0046';}
.icon-mgm-current:before{content:'\0047';}
.icon-mgm-finish-flag:before{content:'\0048';}
.icon-mgm-tick:before{content:'\0049';}
.icon-mgm-mindtrapicon:before{content:'\004a';}
.icon-mgm-run:before{content:'\004b';}
.icon-mgm-help:before{content:'\004c';}
.icon-mgm-attach:before{content:'\004d';}
.icon-mgm-forward:before{content:'\004e';}
.icon-mgm-left-arrow:before{content:'\004f';}
.icon-mgm-right-arrow:before{content:'\0050';}
.icon-mgm-picture:before{content:'\0051';}
.icon-mgm-close:before{content:'\0052';}
.icon-mgm-add-round:before{content:'\0053';}
.icon-mgm-disappointed:before{content:'\0056';}
.icon-mgm-trophy:before{content:'\0057';}
.icon-mgm-pause:before{content:'\0058';}

html {
  height: 100%;
}

body {
  font-family: "Roboto Slab" !important;
  background-color: #262e33 !important; /*# #51606d ececec 3f4752 ececec */
  height: 100%;
}

i {
  line-height: 1 !important;
}

textarea { resize: none; }

.pz-navbar .uk-navbar-nav > li > a,
.pz-navbar .uk-navbar-item,
.pz-navbar .uk-navbar-toggle {
  height: 40px;
}

.pz-navbar-60 .uk-navbar-nav > li > a,
.pz-navbar-60 .uk-navbar-item,
.pz-navbar-60 .uk-navbar-toggle {
  height: 60px;
}


.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  font-family: "Roboto Slab" !important;
}

.pz-bg-red1 {
    background-color: #77282d !important;
}

.pz-main-navbar {
  /*background: linear-gradient(to right, rgb(72, 85, 99), rgb(41, 50, 60)) !important;*/
  background-color: #77282d !important; /*834444*/
  /* 7c1a25 593c3f */
}

.pz-status-label {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pz-status-label.RUNNING {
  background-color: #457648;
}

.pz-status-label.PAUSED {
  background-color: #897a32;
}

.pz-status-label.NOT-ESCAPED {
  background-color: #ac0e0e;
}

.pz-status-label.ESCAPED {
  background-color: #0e6fb5;
}


img.walkthroughs-icon {
  content: url('./icons/list.svg');
  width: 24px;
  height: 24px;
}

img.client-icon {
  content: url('./icons/client.svg');
  width: 24px;
  height: 24px;
}

img.disconnected-icon {
  content: url('./icons/disconnected.svg');
  width: 24px;
  height: 24px;
}

img.connected-icon {
  content: url('./icons/connected.svg');
  width: 24px;
  height: 24px;
}


img.sound-icon {
  content: url('./icons/speaker.svg');
  width: 24px;
  height: 24px;
}

img.history-icon {
  content: url('./icons/notebook.svg');
  width: 24px;
  height: 24px;
}

img.audio-icon {
  content: url('./icons/music.svg');
  width: 24px;
  height: 24px;
}

img.image-icon {
  content: url('./icons/image.svg');
  width: 24px;
  height: 24px;
}

img.send-icon {
  content: url('./icons/send.svg');
  width: 30px;
  height: 30px;
}

@keyframes help-blink {
   from {
      background-color: #b90f0f;
   }
   to {

    background-color: #7c1a25;
   }
}

.pz-blink {
  animation-duration: 300ms;
  animation-name: help-blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.pz-white-text {
  color: #fff !important;
}

.pz-padding-left-5 {
  padding-left: 5px !important;
}

.pz-padding-left-5 {
  padding-left: 5px !important;
}
.pz-padding-right-5 {
  padding-right: 5px !important;
}
.pz-padding-horizontal-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.pz-margin-right-5 {
  margin-right: 5px !important;
}
.pz-margin-left-5 {
  margin-left: 5px !important;
}


.pz-font-small {
  font-size: 13px !important;
}

.pz-walkthroughs {
  font-size: 13px !important;
  /*height: 100% !important;*/
  height: 80px !important;
  /*height: auto !important;*/
}


@keyframes eq-uppydowny {
  0% {
    height: 20px;
  }
  50% {
    height: 3px;
  }
  100% {
    height: 20px;
  }
}

.pz-eq {
  position: relative;
  width: 17px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
}

.eq__bar {
  position: absolute;
  width: 5px;
  height: 16px;
  background: #834444;
  border-radius: 0px;
  bottom: 0px;
  animation-name: eq-uppydowny;
  animation-fill: forwards;
  animation-iteration-count: infinite;
}

.eq1 {
  left: 0;
  animation-duration: 0.5s;
}

.eq2 {
  left: 5.5px;
  animation-duration: 1.3s;
}

.eq3 {
  right: 0;
  animation-duration: 0.7s;
}

.pz-song-label {
  background-color: #7d4244 !important;
}

.uk-light .uk-icon-button {
  background-color: transparent;
}

.pz-transparent-bg {
  background-color: transparent !important;
}

.uk-light .uk-icon-button:focus, .uk-light .uk-icon-button:hover {
    background-color: rgba(255,255,255,0.1) !important;
 /*   color: #666;
 */   outline: 0 !important;
}

.uk-light .uk-active>.uk-icon-button, .uk-light .uk-icon-button:active {
    background-color: rgba(0,0,0,0.1) !important;
    color: #fff !important;
}



.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit !important;
}

.uk-navbar-nav>li>a {
  text-transform: inherit !important;
}




.pz-white-bg {
  background-color: #46535f !important; /*323a3d */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.uk-dropdown {
  background-color: #151515 !important; /*323a3d */
}

.uk-input {
  border-radius: 4px !important;
}

.pz-dropdown-area {
  display: none;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding-top: 5px;
}
.pz-active.pz-dropdown-area {
  display: block;
  border-top: 5px;

}

#walkthroughs-content {
  padding-top: 0px;
}

#walkthroughs-content p {
  font-size: 14px;
}

.pz-navbar.pz-active {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}



.walkthrough-number {
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.walkthrough-number.done {
  background-color: #3abca7;
  color: #eee;
}

.walkthrough-number.active {
  background-color: #FF5370;
  /*padding-left: 7px;
  padding-right: 8px;*/
  color: #eee;
  opacity: 1;
}

.walkthrough-image {
  height: 10px;
  width: 10px;
  display: none;
  margin-right: 1px !important;
  margin-top: -2px;
}

.done .walkthrough-image {
  display: inline;
  /*content: url('./icons/tick.svg');*/
}

.current .walkthrough-image {
  display: inline;
  /*content: url('./icons/current.svg');  */
  /*margin-top: -3px;
  margin-right: 3px;*/
}

.walkthroughs-grid i.icon-mgm-tick,
.walkthroughs-grid i.icon-mgm-current {
  font-size: 10px !important;
  margin-right: 1px;
}


/*.done .walkthrough-image {
  display: inline;
}

img.walkthrough-image {
  display: inline !important;
content: url('./icons/current.svg') !important;
}
*/
.pz-margin-horizontal-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.uk-textarea.naked {
  border: 0 !important;
  border-radius: 4px !important;
}

.pz-navbar a.pz-title {
  font-weight: 700;
  color: rgba(255,255,255,0.75) !important;
  user-select: none;
}

/*.pz-navbar .uk-navbar-nav>li>a.uk-open, */

.pz-navbar .uk-navbar-nav>li:hover>a.pz-title,
.pz-navbar .uk-navbar-nav>li>apz-title:focus {
 color: #fff !important;
}

.soundfile,
#audio-content ul>li>a,
#sound-content ul>li>a {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  text-transform: initial;
}




#audio-content ul>li>a {
  background-color: #b86f67;
  color: #eaebe5;
}

.soundfile {
  background-color: #9a8684;
  color: #e0e1e2;
}


.playing.soundfile,
#audio-content ul>li>a:hover {
  background-color: #e05c49;
  color: #eceeee;
}

.uk-subnav>* {
    padding-left: 15px !important;
}

.pz-textarea-padding {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.pz-textarea-padding.hasimage {
  padding-left: 105px;
}

.imagepreview {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

#sound-content ul>li>a {
  /*background-color: #e8eced;    */
  background: #7da2d2;
  color: #e7ecec;
}
#sound-content ul>li>a:hover {
  color: #eee;
  background: #4099ff;
}


.imagelist {
      display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -15px;
}

.imagelist > li {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    padding-left: 15px;
}

.imagelist img {
  height: 80px !important;
  width: auto !important;
}

.pz-padding-5 {
  padding: 5px !important;
}

.imagethumb {
  filter: grayscale(0.5);
}
.imagebuttons {
  display: none;
}

.imagecontainer:hover .imagebuttons {
  display: block;
}

.imagecontainer:hover .imagethumb {
  filter:grayscale(0);
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-42 {
  font-size: 42px !important;
  line-height: 42px !important;
}

.pz-padding-top-5 {
  padding-top: 5px !important;
}

.pz-padding-15 {
  padding: 15px !important;
}

.imagepreview-container {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

.pz-hint-navbar {
  background-color: #e67e22 !important;
  margin-top: 15px;
}

.hint-alert {
  background: transparent !important;
  color: #eee;
  padding-left: 10px;
  padding-right: 10px;
}

.hint-alert-close {
  margin: 3px !important;
  background-color: #c33737;
  border-radius: 30px;
  line-height: 1;
}

.help-available-text {
  color: #4cc571 !important;
}

.pz-margin-5 {
  margin: 5px !important;
}

.pz-padding-horizontal-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pz-padding-right-10 {
  padding-right: 10px !important;
}

[class*=uk-dropdown-bottom] {
    margin-top: 5px !important;
}


.pz-padding-left-10 {
  padding-left: 10px !important;
}

.pz-margin-bottom-5 {
  margin-bottom: 5px !important;
}

.pz-padding-left-5 {
  padding-left: 5px !important;
}

.icon-mgm-cancel:before{content:'\0054';}
.icon-mgm-notebook:before{content:'\0055';}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 10px !important;
}

.fs-14 {
  font-size: 10px !important;
}

.pz-text-hints.uk-panel-scrollable {
  border: 0 !important;
}

.pz-no-text-select {
  user-select: none;
}

.fs-14 {
  font-size: 14px !important;
}

.uk-modal-dialog {
  background: #77282d !important;
}

.uk-modal-footer {
  background: #ececec !important;
  border-top: 0 !important;
}

.uk-modal-body {
  color: #eee !important;
}

.uk-modal-footer .uk-button-primary {
  background-color: #51606d !important;
}

.uk-modal {
  background: rgba(0,0,0,.7) !important;
}

.pz-no-diver.uk-table-striped tbody tr:nth-of-type(odd),
.pz-no-diver.uk-table-striped>tr:nth-of-type(odd) {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.pz-big-table-header {
  background-color: #111 !important;
  height: 60px;
}


.uk-card-primary.uk-card-body .uk-table-hover tbody tr:hover, .uk-card-primary.uk-card-body .uk-table-hover>tr:hover, .uk-card-primary>:not([class*=uk-card-media]) .uk-table-hover tbody tr:hover, .uk-card-primary>:not([class*=uk-card-media]) .uk-table-hover>tr:hover, .uk-card-secondary.uk-card-body .uk-table-hover tbody tr:hover, .uk-card-secondary.uk-card-body .uk-table-hover>tr:hover, .uk-card-secondary>:not([class*=uk-card-media]) .uk-table-hover tbody tr:hover, .uk-card-secondary>:not([class*=uk-card-media]) .uk-table-hover>tr:hover, .uk-light .uk-table-hover tbody tr:hover, .uk-light .uk-table-hover>tr:hover, .uk-offcanvas-bar .uk-table-hover tbody tr:hover, .uk-offcanvas-bar .uk-table-hover>tr:hover, .uk-overlay-primary .uk-table-hover tbody tr:hover, .uk-overlay-primary .uk-table-hover>tr:hover, .uk-section-primary:not(.uk-preserve-color) .uk-table-hover tbody tr:hover, .uk-section-primary:not(.uk-preserve-color) .uk-table-hover>tr:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-table-hover tbody tr:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-table-hover>tr:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-table-hover tbody tr:hover, .uk-tile-primary:not(.uk-preserve-color) .uk-table-hover>tr:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-table-hover tbody tr:hover, .uk-tile-secondary:not(.uk-preserve-color) .uk-table-hover>tr:hover {
    background: #656950;
}

.uk-panel-scrollable {
  resize: none !important;
}

.texthint-dropdown {
    border: 5px solid rgb(198, 192, 26)
}

.pz-padding-right-15 {
  padding-right: 15px !important;
}

.pz-margin-right-10 {
  margin-right: 10px !important;
}

.pz-margin-right-15 {
  margin-right: 15px !important;
}

.pz-text-green {
  color: #55a851 !important;
}
