/* roboto-300 - latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto-v16-latin_greek-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v16-latin_greek-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v16-latin_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v16-latin_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./fonts/roboto-v16-latin_greek-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v16-latin_greek-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v16-latin_greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v16-latin_greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('./fonts/montserrat-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('./fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar {
	background-color: #111 !important;
	height: 11px;
}

::-webkit-scrollbar-thumb {
	background-color: #763139 !important;
	transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c1d1d !important;
    transition: all 1s ease;
}

html, body {
	font-family: "Montserrat", "Roboto", sans-serif;
    font-weight: 400;
	background-color: #262e33 !important;
	height: 100%;
}

.uk-logo,
.uk-navbar-item, .uk-navbar-nav>li>a,
.uk-navbar-toggle {
	font-family: "Montserrat", "Roboto", sans-serif !important;
}

.uk-logo {
	font-weight: 700 !important;

}
.pz-navbar {
	background-color: #77282d !important; /* #5b4445 */
}

.pz-navbar img {
	height: 60px;
}

.pz-navbar-stopped {
	background-color: #5b4445 !important;
}

.pz-navbar-started {
	background-color: #415743 !important;
}

.pz-padding-10 {
	padding: 10px !important;
}

.webix_view {
    color: #93999c !important;
    background-color: #262e33 !important;
}

.webix_list-x .webix_list_item {
    border-color: #93999c !important;
    padding: 8px !important;
}


.webix_list_item.webix_selected {
    background: #77282d !important;
    padding: 8px !important;
}

.webix_list-x .webix_list_item.webix_selected {
	border-left: 0 !important;
	border-right: 1px solid #93999c !important;
}

.webix_list-x .webix_list_item img {
	filter: grayscale(0.7);
}

.webix_list_item.webix_selected img {
	filter: grayscale(0);
}

.pz-text-item {
    color: rgba(255,255,255,.7);
    background-color: #5b4445 !important;
    font-size: 18px;
}

.uk-form-icon-flip + .uk-textarea {
    padding-right: 45px !important;
}

.pz-main-menu {
  background-color: #111 !important;
  width: 250px !important;
}

.pz-green {
  color: #25971f !important;
}

.pz-text-green {
  color: #55a851 !important;
}

.pz-bold {
  font-weight: 700 !important;
}

.pz-margin-right-10 {
  margin-right: 10px !important;
}

.pz-dropdown {
    background-color: #1d272b !important;
}

.pz-white-black {
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
}

.pz-semi-red {
  background-color: rgba(255, 0, 0, 0.5);
}

.pz-white-red {
    background-color: red !important;
    color: #fff !important;
}

.pz-semi-transparent {
    background: transparent !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.pz-semi-transparent2 {
    color: rgba(255, 255, 255, 0.3) !important;
}


.pz-red {
  color: #9c1d1d;
}

.pz-blue {
  color: #2d2da5;
}

.pz-monitor-image {
  height: 24px;
}

.pz-monitor-image.pz-disconnected {
  filter: grayscale(0.7);
  opacity: 0.5;
}

.pz-padding-right-10 {
  padding-right: 10px !important;
}

.pz-font-18 {
  font-size: 18px !important;
}

.pz-time-label {
  width: 110px;
  text-align: left;
}

.pz-dark-bg {
  background-color: #222222 !important;
}

.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover {
  background-color: #5b4445 !important;
  color: rgba(255,255,255,.7) !important;
}

.uk-table-divider>:first-child>tr:not(:first-child), .uk-table-divider>:not(:first-child)>tr, .uk-table-divider>tr:not(:first-child) {
    border-top: 1px solid rgba(255,255,255,0.15) !important;
}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
    background: rgba(34,34,34,0.4) !important;
    border-top: 1px solid rgba(255,255,255,0.15) !important;
    border-bottom: 1px solid rgba(255,255,255,0.15) !important;
}

.pz-big-table-header {
  background-color: #111 !important;
  height: 60px;
}

.pz-dark-table-header {
  background-color: #111 !important;
}

.uk-dropdown-nav>li.uk-active>a {
      background-color: rgba(255,255,255,0.1) !important;
      color: rgba(255,255,255,0.7) !important;
}

.uk-dropdown-nav>li>a:focus, .uk-dropdown-nav>li>a:hover {
  color: rgba(255,255,255,0.8) !important;
}

.uk-dropdown-nav>li>a {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.pz-info-hint {
    background-color: #418dad !important;
    color: #eee !important;
    margin-bottom: 10px !important;
}

.pz-info-hint .uk-label {
    background-color: rgba(0,0,0,0.4) !important;
    color: #eee !important;
}

.pz-help-request {
    background-color: #cf1f4c !important;
    color: #eee !important;
    animation-duration: 400ms;
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes blink {
   from {
      opacity: 1;
   }
   to {
      opacity: 0.3;
   }
 }

 .pz-font-13 {
  font-size: 13px !important;
 }

 .pz-font-13 .uk-label {
  font-size: 12px !important;
 }

 #history-table {
  border: 1px solid rgba(255,255,255,0.15);
/*  height: 300px;
  display: flex;
*/ }



/*thead, tbody { display: block; }

tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}*/